:root {
    --primary-background-color: #151024;
    --secondary-background-color: #181A20;

}

html {
    background-image: linear-gradient(to bottom, var(--primary-background-color), var(--secondary-background-color) );
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}