:root {
    --primary-background-color: #151024;
    --secondary-background-color: #181A20;
    --primary-color: #fff;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom, var(--primary-background-color), var(--secondary-background-color) );
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);

}

.wave-img {
    height: 200px;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 10rem;
    text-align: center;
    
}